<div class="users-list">
  <div class="header">
    <h2>User List</h2>
  </div>
  <div class="add-new">
    <table>
      <tr>
        <td>
          <input type="text" placeholder="First Name" [(ngModel)]="newUser.firstName">
        </td>
        <td>
          <input type="text" placeholder="Last Name" [(ngModel)]="newUser.lastName">
        </td>
        <td>
          <input type="number" placeholder="Contact Number" [(ngModel)]="newUser.contactNumber">
        </td>
        <td>
          <div class="cta">
            <button (click)="saveUser()"> Save </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <table>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Contact Number</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let user of usersList">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.contactNumber}}</td>
      <td>
        <button (click)="populateUserForEdit(user)">Edit</button>
        <button (click)="deleteUser(user)">Delete</button>
      </td>
    </tr>
  </table>
</div>